#map svg {
    position: absolute;
    top: 0;
    left: 0;
}

#map img {
    position: absolute;
    top: 0;
    left: 0;   
}

.map1 {
    /* box-shadow: 10px 10px 10px 10px black; */
    width: 500px;
    height: 500px;
}

.button1, .button2, .button3, .button4, .button5, .button6, .button7, .button8, .button9 {
    height: 40px;
    width: 40px;
}

body {
    display: flex;
    background-image: "http://getwallpapers.com/wallpaper/full/6/d/d/248922.jpg";
}

/* body > section:first-of-type {
    margin-left: 300px;
} */

body > section:first-of-type > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
/* 
body > section:nth-of-type(3) {
    margin-left: 300px;
} */

body > section:nth-of-type(3) > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.background {
    position: fixed;
    display: flex;
    z-index: -1;
    min-height: 100%;
    max-width: 100%;
}

.barGraph rect {
    fill: #18a3b4;
}

.barGraph text {
    fill: white;
}

.barGraph line {
    stroke: none;
}

.barGraph path {
    stroke: none;
}