#map svg {
    position: absolute;
    top: 0;
    left: 0;
}

#map img {
    position: absolute;
    top: 0;
    left: 0;   
}

.map1 {
    box-shadow: 10px 10px 10px 10px black;
    width: 500px;
    height: 500px;
}

.button1, .button2, .button3, .button4, .button5, .button6, .button7, .button8, .button9 {
    height: 60px;
    width: 80px;
}
